[Desktop Entry]
Version=1.0
Name=Bronkhorst
Exec=bash -c "python3 /home/tipsy/KafkaLogging/Bronkhorst.py ;$SHELL "
Icon=applications-science
Terminal=true
StartupNotify=true
Type=Application
Categories=Application

Name[en_GB]=Bronkhorst
