[Desktop Entry]
Version=1.0
Name=Cetoni
Exec=bash -c "python3 /home/tipsy/KafkaLogging/Cetoni.py ;$SHELL "
Path=/home/tipsy/KafkaLogging
Icon=applications-science
Terminal=true
StartupNotify=true
Type=Application
Categories=Application

Name[en_GB]=Cetoni
