[Desktop Entry]
Version=1.0
Name=DAQ
Exec=bash -c "python3 /home/tipsy/KafkaLogging/DaqMCC.py 0.5;$SHELL "
Icon=applications-science
Terminal=true
StartupNotify=true
Type=Application
Categories=Application

Name[en_GB]=DAQ
