[Desktop Entry]
Version=1.0
Name=Pressure
Exec=bash -c "python3 /home/tipsy/KafkaLogging/Terps.py ;$SHELL "
Icon=applications-science
Terminal=true
StartupNotify=true
Type=Application
Categories=Application

Name[en_GB]=Pressure
