[Desktop Entry]
Version=1.0
Name=Relay
Exec=bash -c "python3 /home/tipsy/KafkaLogging/RelayMCC.py 0.8;$SHELL "
Icon=applications-science
Terminal=true
StartupNotify=true
Type=Application
Categories=Application

Name[en_GB]=Relay
